%table
	%thead
		%th Name
		%th Description 
		%th # of Items
	%tbody
		- @wishlists.each do |wishlist|
			%tr
				%td= link_to wishlist.name, wishlist
				%td= wishlist.description
				%td= wishlist.items.count

%br
%br
= form_for Wishlist.new do |f|
	= f.label :name
	= f.text_field :name
	= f.label :description
	= f.text_field :description
	= f.submit

= link_to "Hook up Github", github_auth_path
= link_to "Hook up Twitter", twitter_auth_path

%br
%br
%h3 Create a new gist for Github
%h5 This really has nothing to do with wishlists or items

= form_tag create_gist_path do
	= label_tag :title
	= text_field_tag :title
	%br

	= label_tag :description
	= text_field_tag :description
	%br

	= label_tag "File content"
	= text_field_tag :content
	%br

	= submit_tag "Create Gist!"
